{% extends "layout.html" %}

{% block content %}

<div class="recipe-list">
    {% for key, recipe in recipes.items() %}
        <div class="recipe-item">
            <!-- Recipe Image and content -->
            <img src="{{ url_for('static', filename='recipes/' + recipe.image_url) }}" alt="Recipe Image">
            <h2>{{ recipe.title }}</h2>
            <h3>{{ recipe.descripion }}</h3>
            <a href="{{ url_for('show_recipe', recipe_id=recipe.id) }}">view  recipe details</a>
        </div>
    {% endfor %}
</div>

<!-- Pagination Controls -->
<div class="pagination">
    {% if page > 1 %}
        <a href="{{ url_for('home', page=page-1) }}">Previous</a>
    {% endif %}
    {% if (page * RECIPES_PER_PAGE) < total_recipes %}
        <a href="{{ url_for('home', page=page+1) }}">Next</a>
    {% endif %}
</div>

{% endblock content %}
